
BasicUnityProject/Library/

BasicUnityProject/Logs/

BasicUnityProject/Temp/

BasicUnityProject/BasicUnityProject.sln

BasicUnityProject/.idea/

BasicUnityProject/obj/

*.csproj

Library/

Logs/

obj/

.idea/

*.sln

Temp/

Assets/AddressableAssetsData/OSX/

Assets/AddressableAssetsData/OSX.meta
